.responsive-card{
  box-sizing: border-box;
}

.example-card {
    width: 90%;
    margin-top: 10px;
    margin-bottom:10px;
  }

  .mathematics{

    background-image: url('../../assets/math.png');
    background-size: cover;

  }
  
  .english{

    background-image: url('../../assets/english.png');
    background-size: cover;

  }
  

  .spanish{

    background-image: url('../../assets/spanish.png');
    background-size: cover;

  }

  .contabilidad{

    background-image: url('../../assets/contabilidad.png');
    background-size: cover;

  }


  